# Students Do: Predicting Loan Default with Random Forests

In this activity, you are going to explore how random forest algorithm can be used to identify loans that are likely to default. You will use the `sba_loans_encoded.csv` file that you created before to train the model

In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

## Loading and Preprocessing Loans Encoded Data

Load the `sba_loans_encoded.csv` in a pandas DataFrame called `df_loans`

In [2]:
# Loading data

df_loans = pd.read_csv('https://raw.githubusercontent.com/RutgersCodingBootcamp/RUT-SOM-VIRT-FIN-PT-08-2021-U-C/master/01-Lesson-Plans/11-Classification/2/Activities/06-Stu_Random_Forest/Resources/sba_loans_encoded.csv')

Define the features set, by copying the `df_loans` DataFrame and dropping the `Default` column.

In [4]:
# Define features set
X = df_loans.drop('Default', axis=1)
X.head()

,Year,Month,Amount,Term,Zip,CreateJob,NoEmp,RealEstate,RevLineCr,UrbanRural,...,City_WILLITS,City_WILMINGTON,City_WINDSOR,City_WINNETKA,City_WOODLAND,City_WOODLAND HILLS,City_WRIGHTWOOD,City_Watsonville,City_YORBA LINDA,City_YUBA CITY
0,2001,11,32812,36,92801,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2001,4,30000,56,90505,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2001,4,30000,36,92103,0,10,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2003,10,50000,36,92108,0,6,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2006,7,343000,240,91345,3,65,1,0,2,...,0,0,0,0,0,0,0,0,0,0

Create the target vector by assigning the values of the `Default` column from the `df_loans` DataFrame.

In [20]:
# Define target vector
y = df_loans["Default"].ravel() #???

Split the data into training and testing sets.

In [21]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

Use the `StandardScaler` to scale the features data, remember that only `X_train` and `X_testing` DataFrames should be scaled.

In [22]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [23]:
# Fit the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

In [24]:
# Scale the training data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Fitting the Random Forest Model

Once data is scaled, create a random forest instance and train it with the training data (`X_train_scaled` and `y_train`), define `n_estimators=500` and `random_state=78`.

In [25]:
# Create the random forest classifier instance
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [27]:
# Fit the model
rf_model = rf_model.fit(X_train_scaled, y_train)

## Making Predictions Using the Random Forest Model

Validate the trained model, by predicting loan defaults using the testing data (`X_test_scaled`).

In [28]:
# Making predictions using the testing data

y_pred = rf_model.predict(X_test_scaled)

## Model Evaluation

Evaluate model's results, by using `sklearn` to calculate the confusion matrix, the accuracy score and to generate the classification report.

In [32]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
# cm_df = pd.DataFrame(
#     cm, index=['Actual 0', 'Actual 1'], columns=["Predicted 0", "Predicted 1"]
# )
# Calculating the accuracy score

acc_score = accuracy_score(y_test, y_pred)

In [ ]:
# Displaying results

## Feature Importance

In this section, you are asked to fetch the features' importance from the random forest model and display the top 10 most important features.

In [ ]:
# Get the feature importance array

In [ ]:
# List the top 10 most important features

## Analysis Questions

Finally, analyze the model's evaluation results and answer the following questions.

* **Question 1:** Would you trust in this model to deploy a loan default solution in a bank?

 * **Your answer here**


* **Question 2:** What are your insights about the top 10 most importance features?

 * **Your answer here**