In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime, Float
import psycopg2

In [2]:
df = pd.read_csv('sales.csv') #read in csv

In [3]:
df.head()

   sales_id  payment_id  mortgage_id  loan_amount loan_date
0         1           1            4       281156   10/5/95
1         2           2            2       281353    5/6/06
2         3           3            3       217156    4/1/11
3         4           4            1       196579   5/11/01
4         5           5            3       302332    6/9/17

In [4]:
db_name = 'sales_db'  #specify db
table_name = 'sales'  #specify table

In [5]:
#connect python to pgAdmin
connect_string ='postgresql://postgres:postgres@localhost:5432/{}'\
                .format(db_name)

sql_engine = create_engine(connect_string)

In [6]:
df.to_sql(name=table_name, con=sql_engine, 
         if_exists='replace', 
         index=False,
         dtype={'sales':Integer, #create table schema
              'payment_id':Integer, 
              'mortgage_id':Integer,
              'loan_amount':Integer,
              'loan_date':Text,
               }
         )