# Sorting Pandas DataFrames

## 1. Import Libraries and Dependencies

In [1]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path

## 2. Create a Path to the File Using Pathlib

In [2]:
# Use the Pathlib libary to set the path to the CSV
csv_path = Path('../Resources/people_cleansed.csv')

## 3. Read the CSV into a Pandas DataFrame

In [3]:
# Read in the CSV as a DataFrame
people_df = pd.read_csv(csv_path)
people_df.head()

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age
0,1,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27
1,2,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22
2,3,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40
3,4,Unnamed,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62
4,5,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47

## 4. Sort DataFrame in Ascending Order

In [ ]:
# Sort ascending (default)
people_df.sort_values("First_Name")

## 5. Sort DataFrame in Descending Order

In [ ]:
# Sort descending
people_df.sort_values("First_Name", ascending=False)