In [1]:
import pandas as pd
import plotly.express as px
import os
from pathlib import Path
from dotenv import load_dotenv

In [2]:
data = pd.read_csv('marketing_1.csv')
data

,ad_spend,monthly_pageviews,ad_format,ad_sales,shop_id,timestamp,app
0,19.400000,19402,facebook_carousel_ad,20.040001,9832,2017-05-01 08:12:59,app2
1,60.000000,11344,facebook_carousel_ad,384.429993,9535,2017-07-11 16:14:44,app1
2,15.000000,36950,facebook_carousel_ad,124.620003,2495,2017-08-24 21:29:03,app1
3,60.000000,36780,facebook_carousel_ad,165.649994,9535,2017-08-17 00:43:07,app2
4,45.000000,34219,facebook_carousel_ad,81.800003,2047,2017-03-06 13:25:12,app1
...,...,...,...,...,...,...,...
18395,2.850000,169635,facebook_retargeting,0.000000,611,2017-06-26 14:18:28,app1
18396,39.240002,51815,facebook_retargeting,0.000000,14718,2017-10-31 22:07:18,app2
18397,28.879999,16671,facebook_retargeting,0.000000,16106,2017-11-20 17:15:30,app1
18398,25.000000,4826,facebook_retargeting,0.000000,5266,2017-09-19 22:45:05,app2
18399,50.000000,25445,facebook_retargeting,0.000000,1375,2017-07-14 16:19:39,app1

- Are the shop_id unique?
- who gets the most page views?
- what gets the most revenues?
- does seasonality play a role?
- does time of the day play a role?
- does adformat play a role?
- does app play a role?
- Correlation of ad spend to page views
- inflection point at which more money does not equal more revenue
- new values:
    * Ad sales per ad spend
    * ad sales per page views
    * pageviews per ad spend (groupby)
    * pageviews per ad format (groupby)
    * ad sales per ad format (groupby)
    * ad sales per app type (groupby)

In [7]:
data['spend_return'] = data['ad_sales'] / data['ad_spend']
data['views_return'] = data['ad_sales'] / data['monthly_pageviews']
data.head()

,ad_spend,monthly_pageviews,ad_format,ad_sales,shop_id,timestamp,app,spend_return,views_return
0,19.4,19402,facebook_carousel_ad,20.040001,9832,2017-05-01 08:12:59,app2,1.032990,0.001033
1,60.0,11344,facebook_carousel_ad,384.429993,9535,2017-07-11 16:14:44,app1,6.407167,0.033888
2,15.0,36950,facebook_carousel_ad,124.620003,2495,2017-08-24 21:29:03,app1,8.308000,0.003373
3,60.0,36780,facebook_carousel_ad,165.649994,9535,2017-08-17 00:43:07,app2,2.760833,0.004504
4,45.0,34219,facebook_carousel_ad,81.800003,2047,2017-03-06 13:25:12,app1,1.817778,0.002390

In [10]:
type(data['timestamp'].iloc[0])

str