## Three Stock Monte

This exercise tests your ability to retrieve stock price data using the Alpaca API and simulate multiple portfolio compositions using Monte Carlo Simulation.

### Import Dependencies

In [6]:
# Import libraries and dependencies
import os
import pandas as pd
import alpaca_trade_api as tradeapi
import numpy as np
from MCForecastTools import MCSimulation

In [7]:
# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()

True

In [8]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

### Get Past 5 Year's Worth of Stock Price Data via Alpaca API Call

In [10]:
# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes between now and 5 years ago.
start_date = pd.Timestamp("2015-05-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-05-01", tz="America/New_York").isoformat()

# Set the ticker information
tickers = ["T","NKE","XOM"]

# Get 5 year's worth of historical price data
df_ticker = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = end_date
).df

# Display sample data
df_ticker.sort_index()

                             NKE                                      T  \
                            open    high     low  close   volume   open
time
2019-12-09 00:00:00-05:00  97.02  97.630  96.160  96.62  4279199  38.12
2019-12-10 00:00:00-05:00  96.76  97.590  96.630  97.01  3511472  38.07
2019-12-11 00:00:00-05:00  96.90  97.320  96.650  97.16  3090237  38.02
2019-12-12 00:00:00-05:00  97.32  98.180  96.900  97.70  3780965  38.20
2019-12-13 00:00:00-05:00  97.43  98.290  96.910  97.77  4273117  38.21
...                          ...     ...     ...    ...      ...    ...
2020-04-27 00:00:00-04:00  88.38  89.870  87.310  89.33  6204274  29.99
2020-04-28 00:00:00-04:00  90.55  90.710  88.630  88.81  4483633  31.00
2020-04-29 00:00:00-04:00  90.00  91.390  87.830  88.04  7944474  31.13
2020-04-30 00:00:00-04:00  87.00  88.000  86.505  87.18  6528373  31.00
2020-05-01 00:00:00-04:00  85.67  86.105  84.810  85.54  5357539  30.77

                                                              XOM         \
                            high     low   close    volume   open   high
time
2019-12-09 00:00:00-05:00  38.43  38.030  38.040  14154699  69.08  69.97
2019-12-10 00:00:00-05:00  38.27  37.820  38.065  15573920  69.66  70.15
2019-12-11 00:00:00-05:00  38.25  38.000  38.170  15392941  68.74  69.76
2019-12-12 00:00:00-05:00  38.57  38.200  38.350  19654948  68.96  70.38
2019-12-13 00:00:00-05:00  38.28  37.950  38.245  17764283  70.48  70.54
...                          ...     ...     ...       ...    ...    ...
2020-04-27 00:00:00-04:00  30.68  29.740  30.540  58376488  43.59  44.32
2020-04-28 00:00:00-04:00  31.12  30.615  30.650  55107142  44.37  45.39
2020-04-29 00:00:00-04:00  31.87  31.070  31.440  57547301  46.26  47.60
2020-04-30 00:00:00-04:00  31.05  30.280  30.450  63467447  47.68  47.68
2020-05-01 00:00:00-04:00  30.79  29.750  29.900  69100348  45.63  46.39


                             low  close    volume
time
2019-12-09 00:00:00-05:00  69.02  69.66   9517065
2019-12-10 00:00:00-05:00  68.70  69.06  12660419
2019-12-11 00:00:00-05:00  68.67  68.95  10866871
2019-12-12 00:00:00-05:00  68.90  70.35  13653796
2019-12-13 00:00:00-05:00  69.12  69.22  10247029
...                          ...    ...       ...
2020-04-27 00:00:00-04:00  42.23  43.92  26955553
2020-04-28 00:00:00-04:00  44.11  44.98  24393001
2020-04-29 00:00:00-04:00  46.16  47.48  26882843
2020-04-30 00:00:00-04:00  45.77  46.40  28454300
2020-05-01 00:00:00-04:00  43.00  43.17  32688912

[100 rows x 15 columns]

### Simulate five year portfolio growth with evenly-distributed stock investments

In [ ]:
# Configure a Monte Carlo simulation to forecast five years cumulative returns
MC_fiveyear = MCSimulation(
    portfolio_data = df_ticker,
    weights = [.333, .333, .333],
    num_simulation = 1000,
    num_trading_days = 252*5
)

In [ ]:
# Print the simulation input data
MC_fiveyear.portfolio_data.head()

In [ ]:
# Run a Monte Carlo simulation to forecast five years cumulative returns
MC_fiveyear.calc_cumulative_return()

In [ ]:
# Plot simulation outcomes
line_plot = MC_fiveyear.plot_simulation()

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
print(even_tbl)

In [ ]:
# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $15,000 investments stocks
# YOUR CODE HERE!

# Print results
# YOUR CODE HERE!

### Simulate five year portfolio growth with 60% AT&T stock

In [ ]:
# Configure a Monte Carlo simulation to forecast five years cumulative returns with 60% AT&T stock
# YOUR CODE HERE!

# Print the simulation input data
MC_att.portfolio_data.head()

In [ ]:
# Run a Monte Carlo simulation to forecast five years cumulative returns with 60% AT&T stock
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
print(att_tbl)

In [ ]:
# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $15,000 investments
# YOUR CODE HERE!

# Print results
# YOUR CODE HERE!

### Simulate five year portfolio growth with 60% Nike stock

In [ ]:
# Configure a Monte Carlo simulation to forecast five years cumulative returns with 60% Nike stock
# YOUR CODE HERE!

# Printing the simulation input data
MC_nike.portfolio_data.head()

In [ ]:
# Run a Monte Carlo simulation to forecast five years cumulative returns with 60% Nike stock
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
print(nike_tbl)

In [ ]:
# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $15,000 investments
# YOUR CODE HERE!

# Print results
# YOUR CODE HERE!

### Simulate five year portfolio growth with 60% Exxon stock

In [ ]:
# Configuring a Monte Carlo simulation to forecast five years cumulative returns
# YOUR CODE HERE!

# Printing the simulation input data
MC_exxon.portfolio_data

In [ ]:
# Run a Monte Carlo simulation to forecast five years cumulative returns with 60% Exxon stock
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
print(exxon_tbl)

In [ ]:
# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $15,000 investments
# YOUR CODE HERE!

# Print results
# YOUR CODE HERE!

### Summarize findings across all 4 simulations

YOUR ANSWER HERE!